<!DOCTYPE html>
<html>
<head>
    <title>Attendance App|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>


</head>
<body>
    <%- include('navbar.ejs') %>
<div id="wrapper">
    <!-- Sidebar -->
    <%- include('menu.ejs') %><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Daftar Pengajuan Lembur</h1><br>
                    <div style="height:600px; overflow: auto">
                        <% if(hasLeave === 1){ %>
                        <table id="example" class="display" cellspacing="0" style="height: 10%; overflow: auto;">
                            <thead>
                            <tr> <th>Tanggal Lembur</th>
                                <th>Tujuan Lembur</th>
                                <th>Jam Mulai Lembur</th>
                                <th>Jam Selesai Lembur</th>
                                <th>Total Jam Lembur</th>
                                <th>Tipe Hari Lembur</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Tanggal Lembur</th>
                                <th>Tujuan Lembur</th>
                                <th>Jam Mulai Lembur</th>
                                <th>Jam Selesai Lembur</th>
                                <th>Total Jam Lembur</th>
                                <th>Tipe Hari Lembur</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <% leaves.forEach(function(item){ %>
                            <tr>
                                <!--td><%= new Date(item.appliedDate).toISOString().substring(0, 10); %></td-->
                                <td><%= moment(item.appliedDate).format('MMMM Do YYYY') %></td>
                                <td><%= item.tujuanlembur %></td>                              
                                <td><%= (item.jammulailembur).replace('.', ':') %></td>
                                <td><%= (item.jamselesailembur).replace('.', ':') %></td>
                                <td>
                                <% 
                                a=parseFloat((item.jammulailembur).replace(':', '.'));
                                b=parseFloat((item.jamselesailembur).replace(':', '.'));
                                durasirumus=b-a;
                                if(durasirumus < 0 ){
                                    durasirumus=durasirumus+24; 
                                }
                                %>    
                                    
                                    <%= durasirumus.toFixed(1) %> Jam</td>
                                <td><%= item.tipehari %></td>
                                <td><%= item.adminResponse %></td>
                            </tr>

                            <% }); %>

                            </tbody>
                        </table>
                        <% }else{ %>
                        <p>Tidak ada data pengajuan lembur.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js" charset="UTF-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
<script src="/javascripts/confirmation.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script>

    $(document).ready(function () {
        $('#example').dataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": []
        });
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            if (title != " ") {
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            }
        });
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }
        $("#inc1").click(function () {
            $('#current_salary').val(60000);
        });
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                            .search(this.value)
                            .draw();
                }
            });
        });
    });
</script>
</body>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="post" action="/employee/mark-employee-attendance">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Submit Kehadarian</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to mark attendance.</p>
                </div>
                <div class="modal-footer">

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-default">Yes</button>
                </div>

            </div>
        </form>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form method="post" action="/employee/view-attendance">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Month/Year</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Month">Month:</label>
                        <select class="form-control" id="month" name="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="year">Year:</label>
                        <select class="form-control" id="year" name="year">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">View</button>
                </div>
            </form>
        </div>

    </div>
</div>
</html>

